@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-[1.0625rem];
  }

  h1 {
    @apply text-2xl uppercase font-bold tracking-wide;
  }
  h2 {
    @apply text-xl uppercase font-bold tracking-wide;
  }
  h3 {
    @apply text-lg uppercase font-bold tracking-wide;
  }

}

@layer components {
  .container {
    @apply mx-auto pb-10 pt-5 px-5 sm:px-6 lg:px-8;
  }
  .section{
    @apply flex flex-col gap-4 max-w-xl w-full 
  }
  .quote::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: -1rem;
  font-size: 4rem;
  color: gray;
}
}
